:root {
  --dark-blue: #0a2463;
  --background-white: rgb(255, 255, 255, 0.6);
  --green: #3aafb9;
  --dark-green: #093a3e;
}

.card {
  border: 2px var(--dark-blue) solid;
  background-color: var(--background-white);
}

#home {
  padding: 4em;
  padding-top: 3em;
  margin-left: 4em;
  margin-right: 4em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home img {
  width: 30vw;
  height: 30vw;

  margin-top: -4em;
  margin-bottom: -4em;
  margin-right: -3em;
}

#navbar {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;

  padding-left: 1em;
  padding-right: 1em;

  display: flex;
  align-items: center;
}

#navbar li {
  display: inline;
}
